{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="content bg pt-18">
	<div class="w-90 mx-auto p-3 mb-2 bg-white text-dark border">
			<h3 class="text-center"> {{ request.user}}'s account</h3>
			<hr>
			<h4 class="text-center">Your orders</h4>
			<table class="table">
				<tr style="background: lightblue;">
					<td class="text-center">Order No.</td>
					<td class="text-center">Order date</td>
					<td class="text-center">Order status</td>
					<td class="text-center">Order price</td>
					<td class="text-center">Order details</td>
				</tr>
			{% for item in order %}
				<tr>
					<td class="text-center">{{item.id}}</td>
					<td class="text-center">{{item.date}}</td>
					<td class="text-center">{{item.status}}</td>
					<td class="text-center">{{item.total}} $</td>
					<td class="text-center">
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal-{{ item.id }}">
						  Details
						</button>
					</td>
				</tr>
			{% endfor %}
			
			</table>
			
			
			{% for item in order %}
			<!-- Modal -->
			<div class="modal fade" id="exampleModal-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
				<div class="modal-content">
				  <div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Order No. {{ item.id }}</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
				  </div>
				  <div class="modal-body">
					  <h3>Items</h3>
					<table class="table">
						{% for order_item in item.items.items.all %}
			
								<tr>
									<td> {{ order_item.product.title }} </td>
									<td> {{ order_item.qty }} items</td>
									<td> {{ order_item.item_total }} $ </td>
								</tr>
						{% endfor %}
								<tr>
									<td></td>
									<td>Total cost:</td>
									<td><b>{{ item.items.cart_total }} $</b></td>
								</tr>
					</table>
					<h3>Costumer</h3>
					<p>Name: {{ item.first_name }}</p>
					<p>Last name: {{ item.last_name }}</p>
					<p>Phone: {{ item.phone }}</p>
					<h3>Buying type</h3>
					<p>{% if item.buying_type == 'self' %}  On arrival {% else %} Online {% endif %}</p>
					<p>{% if item.buying_type == 'delivery' %}  {{ item.address }} {% endif %}</p>
					<h3>Comments:</h3>
					<p>{{ item.comments }}</p>
				  </div>
				  <div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				  </div>
				</div>
			  </div>
			</div>
			{% endfor %}
	</div>
</section>
{% endblock content %}