{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
	<h1>Categories</h1>
	{% for category in categories %}
		<a href="">{{category.name}}</a>
	{% endfor %}
	<hr>
	<div class="products">
		<h1>Products</h1>
		{% for product in products %}
		<div class="card" style="width: 18rem;">
		  <img src="{{product.image.url}}" class="card-img-top" alt="...">
		  <div class="card-body">
		    <h5 class="card-title">{{product.title}}</h5>
		    <p>{{product.price}}</p>
		    <p class="card-text">{{product.description}}</p>
		    <a href="#" class="btn btn-primary">Go somewhere</a>
		  </div>
		</div>
		{% endfor %}
	</div>

</body>
</html>