body,html{
	font-family: 'Poppins', sans-serif;
    height: 100%;
}
.pfair{
	font-family: 'Playfair Display', serif;
}
.ornament{
	background-image:url('../img/ornament.svg');
	background-position: right;
	background-repeat: no-repeat;
}
.bg{
	background-image: url('../img/slider1.svg');
	background-repeat: no-repeat;
	height: 833px;
}
.w-90{
	width: 90% ;
}
.w-85{
	width: 85% ;
}
.super-yellow{
	color: #212529;
    background-color: #FFEB3B;
    border-color: #FFEB3B;
}
.plr-1point2{
	padding-left: 1.2rem;
    padding-right: 1.2rem;
}
.pt-13{padding-top: 13rem !important;}
.scale:hover {
	transform: scale(1.1);
	transition: all .2s ease-in-out;
}
.pt-18{
	padding-top: 18rem;
}
.tour-item-img{
    width: 312px;
    height: 300px;
}

.carousel-caption-custom {
    position: absolute;
    right: 10%;
    bottom: 180px;
    left: 68%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
    text-align: end;
}
.carousel-caption-custom h2{
    font-size: 2.5rem;
}
.carousel-caption-custom-reverse {
    position: absolute;
    right: 68%;
    bottom: 180px;
    left: 10%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
    text-align: start;
}
.carousel-caption-custom-reverse h2{
    font-size: 2.5rem;
}
.carousel-indicators-custom li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 50%;
}
.scale img{
        width: 330px;
}



@media (min-width: 768px) {
.navbar-brand.abs
    {
        position: absolute;
        left: 40%;
        text-align: center;
    }
 .navbar-brand.abs img{
        width:318px;
        height:191px;
 }   
}
/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
	 
	 .carousel-caption-custom {
	    position: absolute;
	    right: 15%;
	    bottom: 150px;
	    left: 55%;
	    z-index: 10;
	    padding-top: 20px;
	    padding-bottom: 20px;
	    color: black;
	    text-align: end;
	 }
	 .carousel-caption-custom h2{font-size: 2rem;}
	.carousel-caption-custom-reverse {
	    position: absolute;
	    right: 55%;
	    bottom: 150px;
	    left: 15%;
	    z-index: 10;
	    padding-top: 20px;
	    padding-bottom: 20px;
	    color: black;
	    text-align: start;
	 }
	 .carousel-caption-custom-reverse h2{font-size:2rem; }
}


